.form {
    width: 100vw;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer {
    width: 600px;
    height: auto;
    border: 1px solid #e9e9e9;
    box-shadow: 3px 3px 15px #e9e9e9;
    padding: 2rem !important;

    h2 {
        color: #000;
    }

    .subTitle {
        font-size: 1.1rem;
        color: #808080;
        padding-top: .5rem !important;
        font-weight: 400;
    }

    .input {
        margin-top: 1.4rem !important;
    }

    .button {
        margin-top: .5rem !important;
    }
}
