.sectionBackground {
  height: 50vh;
  display: flex;
  align-items: center;
  background: #000;
  border-radius: 0 0 80px 80px;
  position: relative;
}

.bContainer {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto !important;
  position: relative;
}

.title {
  margin: 0 auto !important;
  color: #fff;

  h1 {
    font-weight: 600;
    font-size: 2.7rem;
    line-height: 3.5rem;
  }

  p {
    font-weight: 500;
    font-size: 1.4rem;
    padding-top: 0.5rem !important;
  }
}

.lineContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 15px;

  .line {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    border-radius: 20px;
    background: #fff;
  }
}

.background {
  display: flex;
  width: 100%;
  height: 100%;
  background: url(../img/wwwhirl.svg) no-repeat;
  background-size: cover;
  background-position: center;
}

.info {
    width: 80%;
    margin: 2rem auto !important;

    h2 {
        font-size: 2rem;
        color: #000;
        font-weight: 600;
    }
}

.cardContainer {
    width: 90%;
    margin: 1rem auto !important;
    height: 200px;
    align-items: center;
}

.cardItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cardData {
    width: 97%;
    height: 97%;
    background: #e9e9e9;
    border-radius: 10px;
}

@media screen and (max-width: 840px) {
  .title {
    text-align: center;

    h1 {
      font-size: 2rem;
      line-height: unset;
    }

    p {
      font-size: 1.2rem;
    }
  }

  .background {
    display: none;
  }
}
