.container {
  height: calc(100vh - 70px);
  margin: 0 auto !important;
  align-items: center;
}

.background {
  width: 100%;
  height: 100%;

  div {
    height: 100%;
    width: 100%;
    background: url(../img/bgLogin.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 20px 0px 0px;
  }

  .glassMorphism {
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: initial;
    gap: 1rem;

    h1 {
      color: #fff;
      font-weight: 600;
      font-size: 2.8rem;
    }
  }
}

form {
  padding: 2rem !important;

  h1 {
    color: #000;
    font-size: 2.2rem;
    font-weight: 600;
  }
}

.input,
.button {
  width: 75%;
  margin: 1rem 0rem !important;
}

.google {
  margin-top: 1rem !important;

  div {
    width: 100%;
    height: 45px;
    border: 1px solid #e9e9e9;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    p {
      font-weight: 500;
    }
  }

  div:hover {
    background: #e9e9e9;
    cursor: pointer;
  }
}

.forgot {
  display: flex;
  justify-content: flex-end;
  padding-top: 1rem !important;
  font-size: 13px;
  font-weight: 500;
  margin-left: auto !important;
  cursor: pointer;
}

.createAccount {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  padding-top: 1rem !important;
  font-size: 15px;
  font-weight: 500;
  color: #0e38cc;
}

.login {
  margin-top: 1rem !important;
  display: flex;
  align-items: center;
  gap: 0.3rem;

  a {
    font-weight: 500;
    color: #0e38cc;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: auto;
    margin: 2rem 0 !important;
  }

  .input,
  .button {
    width: 100%;
  }

  .background {
    display: none;
  }
}
