.container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 600px;
    height: 300px;
    padding: 20px;
    border-radius: 3px;

    p {
        width: 90%;
    }
}