.container {
  width: 100%;
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;  
  align-content: center;
}

.form {
  width: 70%;
  height: 100%;
  border-radius: 10px;
}

.body {
  margin-top: 1.2rem;
}

.info {
  padding: .5rem;
  border-radius: 3px;
  background: #c3e6cb;
  font-weight: 400 !important;
  color: #155724;
  margin-top: 1rem;
}

.haveAccount {
  padding: .6rem 0rem;
  font-size: 15px; 
  font-weight: 500;
  
  span {
    color: blue;
    cursor: pointer;
  }
}
