.header {
    position: relative;
    z-index: 99;
    height: 70px;

    nav {
        margin: 0 auto !important;
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.logo a span {
    font-size: 1.7rem;
    font-weight: 600;
}

.login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login a {
    font-weight: 600;
    padding: .5rem 1.2rem !important;
    border: 1px solid #000;
    border-radius: .2rem;
    transition: .1s;
}

.login a:focus,
.login a:hover {
    box-shadow: 0 0 0 4px #002aff57;
    border: 1px solid #002BFF;
}