.container {
    display: flex;
    align-items: center;
    gap: .3rem;

    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        color: #000000;
        border-radius: 3px;
        padding: .5rem;
        transition: .1s all;
        font-size: 1rem;
        gap: .45rem;

        span {
            font-size: 15px;
        }
    }

    a:hover {
        background: #EEEEEE;
    }
}

.logoutBtn {
    padding: 5px 10px;
    border: none;
    display: flex;
    align-items: center;
    background: #ffffff;
    font-size: 1rem;
    gap: 7px;
    border-radius: 3px;
    transition: .1s all;
    cursor: pointer;
}

.logoutBtn:hover {
    background: #EEEEEE;
}