.button {
  padding: .4rem 1.2rem;
  font-size: 15px;
  cursor: pointer;
}

.button:hover {
  background: #0151eb !important;
  color: #ffffff !important;
  transition: .2s all;
}

.button:focus {
  box-shadow: 0 0 0 3px #2f78ff;
}