.modal {
  width: 450px;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  z-index: 2;
}

.modalHead {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    color: #414141;
    font-weight: 400;
    padding: .3rem 0rem;
  }
}

.btnClose {
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 7px;
  transition: 0.1s all;
  cursor: pointer;
}

.btnClose:focus,
.btnClose:hover {
  background: #f3f3f3;
}

.fgtPassword {
  float: right;
  padding: 1rem 0rem;

  a {
    text-decoration: none;
    color: #000000;
    font-size: 13px;
    font-weight: 500;
  }
}

.cadastrar {
  position: absolute;
  bottom: 1.2rem;

  a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
  }
}